@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;

}

th, td {
  border-color: #2D2D41 !important;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #090A11;
}

html {
  background-color: #090A11;
}

a {
  color: inherit;
  text-decoration: none;
}